<footer class="footer" id="footer">
    <div class="container footer__container">
        <a href="index.html" class="footer__logo">
            <img src="../img/footer-logo.png" alt="Logo">
        </a>
        <div class="footer__requisites">
            <div class="footer__box">
                <a href="tel:+74951233333">+7 (495) 123-33-33</a>
                <h4>
                    ООО «ЦЕНТР НЕДВИЖИМОСТИ»
                </h4>
                <span>
                    ИНН 111111111
                </span>

                <span>
                    КПП 11111111111
                </span>
            </div>
            <a href="javascript:void(0)" class="footer__btn js-modal-open">
                Заказать звонок
            </a>
        </div>
        <div class="footer__security">
            <span>Все работают с недвижимостью, а мы - с людьми!</span>
            <a href="javascript:void(0)" class="js-security-open">Политика конфиденциальности</a>
            <a href="javascript:void(0)" class="js-security-open">Политика хранения и обработки персональных данных</a>
        </div>
    </div>
</footer>