<!-- Header -->
<header class="header">
    <div class="container header__container .clearfix">
        <div class="header__menu-box">
            <span class="header__menu" id="js-menu">
                <span></span>
            </span>
            <div class="modal-menu">
                <div class="modal-menu__header">
                    <button class="modal-menu__close"><img src="../img/close-1.png" alt="Close"></button>
                    <a href="index.html"></a> <img src="../img/header-logo.png" class="modal-menu__logo" alt="Logo">
                </div>
                <ul class="modal-menu__list">
                    <li class="modal-menu__item"><a href="#services" class="modal-menu__link">Наши услуги</a></li>
                    <li class="modal-menu__item"><a href="#working" class="modal-menu__link">Как мы работаем</a>
                    </li>
                    <li class="modal-menu__item"><a href="#indicators" class="modal-menu__link">БЕСТ – Недвижимость.
                            27
                            лет на
                            рынке</a></li>
                    <li class="modal-menu__item"><a href="#team" class="modal-menu__link">Наша команда</a></li>
                    <li class="modal-menu__item"><a href="#review" class="modal-menu__link">Отзывы наших
                            клиентов</a>
                    </li>
                    <li class="modal-menu__item"><a href="#certificate" class="modal-menu__link">Наши
                            Сертификаты</a>
                    </li>
                    <li class="modal-menu__item"><a href="#welcometowork" class="modal-menu__link">Приглашаем на
                            работу
                        </a>
                    </li>
                    <li class="modal-menu__item"><a href="#contact" class="modal-menu__link">Контакты</a></li>
                </ul>
            </div>
        </div>
        <p class="header__description">
            Все работают с недвижимостью
            а мы - с людьми!
        </p>
        <a href="index.html" class="header__logo">
            <img src="../img/header-logo.png" alt="Logo">
        </a>
        <div class="header__wrapper">
            <div class="header__phone">
                <a href="tel:+74951235555" class="tel">+7 (495) 123-55-55</a>
            </div>
            <div class="header__btn-box">
                <div class="header__massangers">
                    <a href="#" class="header__btn--whatsapp">
                        <i class="icon-whatsapp-logo"></i>
                    </a>
                    <a href="#" class="header__btn--telegram">
                        <i class="icon-telegram_"></i>
                    </a>
                </div>
                <a href="javascript:void(0)" class="header__btn--call js-modal-open">
                    Заказать звонок
                </a>
            </div>
        </div>

    </div>
</header>
<!-- End Header -->